.admin{
    width: 100%;
    height: 100vh;
    position: relative;
    background: radial-gradient(circle at 53% 52%, rgba(255, 79, 3, 0.767) 0%, rgba(255, 0, 0, 0.123) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.admin-img img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
}


.admin__form{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    width: 30%;
    height: 60%;
    position: absolute;
    min-width: 350px;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.932);
    border-radius: 10px;
    display: flex;
   flex-direction: column;
   overflow: hidden;
    
}

.admin__form-firstChild{
    flex: 0.7;
    background-color:rgb(145, 1, 145);
    border-radius: 0px 0px 434% 23%;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.admin__form-firstChild h1{
    margin-top: -20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffff;
}

.admin__form__content{
    flex: 1;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 1.5rem;
}

.admin__form__content-align{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
.btn{
    padding: 10px;
    width: 60%;
    background-color: rgb(145, 1, 145);
    color: #ffff;
    border: none;
    border-radius: 10px;
}

.admin__form__content-name{
    display: flex;
    justify-content: row;
    align-items: center;
    justify-content: space-around;
    border: 1px solid grey;
    gap: 15px;
    width: 100%;
    padding: 10px;
    background-color: #ffff;
    border-radius: 10px;
}
.admin__form__content-name input{
    border: none;
    outline: none;
    font-size: 18px;
}
.admin__form__content-align p{
    margin-left: 30px;
    color: red;
    font-size: 12px;
    padding: 2px;
}


@media screen and (max-width: 1120px){
    .admin__form{
        min-width: 350px;
        height: 400px;
   }
}

@media screen and (max-width: 768px) {
   .admin__form{
        min-width: 380px;
        height: 380px;
   }
}


@media screen and (max-width: 458px) {
    .admin__form{
        min-width: 300px;
        height: 400px;
        .admin__form-firstChild h1{
            font-size: 25px;
        }
   }
}

@media screen and (max-width: 398px){
    .admin__form{
        min-width: 300px;
        height: 380px;
   }
}   

@media screen and (max-height: 368px){
    .admin__form{
        min-width: 280px;
        height: 300px;
   }
   .admin__form-firstChild h1{
     font-size: 20px;
   }
   .admin__form__content{
    gap: 1rem;
   }
   .admin__form__content-name input{
    font-size: 15px;
   }
   .admin__form__content{
    margin-top: 1rem;
   }
}